@import 'src/assets/styles/colors';

$underline: $grey-200;

:host {
  display: block;
  width: 100%;
}

.card {
  border-radius: 4px;
  background: $white;
  box-shadow: 0 6px 10px $grey-200, 0 0 6px $grey-100;

  &_header {
    padding: 18px;
    h3,
    h5 {
      margin: 0;
    }
    h3 {
      line-height: 32px;
      font-weight: 500;
    }
    h5 {
      font-weight: 300;
      color: gray;
    }

    &__underline {
      border-bottom: 1px solid $underline;
    }
  }

  &_content,
  &_actions {
    padding: 18px;
  }

  &_actions {
    &:empty {
      display: none;
    }
    &__underline {
      border-top: 1px solid $underline;
    }
  }
}
