@import 'src/assets/styles/colors';

.page-rule-form {
  &_row-wrapper {
    &:not(:first-child) {
      margin-top: 32px;
      &:after {
        position: absolute;
        top: -32px;
        display: inline-block;
        margin: 8px 32px;
        font-size: 14px;
        color: $grey-400;
        content: 'OR';
      }
    }
  }

  &_row {
    display: flex;
    position: relative;
  }

  &_separator {
    display: inline-block;
    margin: 8px 32px;
    font-size: 14px;
    color: $grey-400;
  }

  &_page,
  &_condition {
    &:not(:first-child) {
      margin-left: 20px;
    }
    & ::ng-deep select {
      width: 200px;
    }
  }

  &_url {
    margin-left: 20px;
    ::ng-deep input {
      width: 300px;
    }
  }

  &_action-add-rule {
    width: 140px;
    margin-top: 20px;
  }

  &_action-delete {
    margin-top: 6px;
    margin-left: 12px;

    &.app-round-icon {
      &:after {
        background: url('src/assets/icons/cancel.svg') no-repeat;
      }
      &:hover:after {
        background: url('src/assets/icons/cancel-red.svg') no-repeat;
      }
    }
  }
}
