.page-rule-form {
  &_action-add-rule {
    width: 140px;
  }
  &_action-delete {
    margin-top: 6px;
  }

  &_row {
    display: flex;
    margin-bottom: 20px;
  }

  &_page,
  &_condition {
    & ::ng-deep select {
      width: 200px;
      margin-right: 20px;
    }
  }
  &_url {
    margin-right: 16px;
    ::ng-deep input {
      width: 300px;
    }
  }
}
