@import 'src/assets/styles/colors';

.content {
  display: flex;
  margin: 32px auto;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;

  .app-card-title {
    font-size: 14px;
  }

  .app-card-content app-card {
    box-shadow: 4px 4px 2px 0px $grey-50;

    &:first-child {
      margin-bottom: 16px;
    }
  }

  .app-card-content ::ng-deep .card_content {
    padding-top: 0;
  }
}
