<div class="content">
  <app-card [config]="config.wrapper">
    <div class="app-card-content content_rule-cards">
      <app-card [config]="config.inclusionRules">
        <app-page-rule-form class="app-card-content"></app-page-rule-form>
      </app-card>
      <app-card [config]="config.exclusionRules">
        <app-page-rule-form class="app-card-content"></app-page-rule-form>
        <div class="app-card-actions">
          <button appStrokedButton (clicked)="addRule('exclusionRule')">
            {{ '+ new rule' | uppercase }}
          </button>
          <button appIconButton (clicked)="addRule('exclusionRule')">
            <div class="icon-close"></div>
          </button>
        </div>
      </app-card>
    </div>
  </app-card>
</div>
