/* You can add global styles to this file, and also import other style files */
@import 'src/assets/styles/colors';
@import 'src/assets/styles/buttons';
@import 'src/assets/styles/fields';
@import 'src/assets/styles/icons';

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.flex {
  display: flex;
  &.flex-column {
    flex-direction: column;
  }
  &.flex-row {
    flex-direction: row;
  }
}
